body{background: #00DCFF;}
h1{font-family: Helvetica;font-size: 40px; color: #FFFFFF;}p{font-family}: Garamond; font-size; 12px; color; #40FF1D;}
p{font-family: Garamond; font-size: 12px; color: #40FF1D;} 
img{border-width: 15px; border-style: double; border-color: #40FF1D;}
a{font-family: Garamond;color: #FF6100; font-size: 20px; text-decoration: none;}
a:hover{color: blue;}